.wrapper {
    padding:20px;
}
.dropZone {
    height: 400px;
    width: 400px;
    float: left;
    background-color: var(--orange);
    cursor: pointer;
    border: 2px solid black;
    margin-bottom: 25px;
}
.dropZone {
    margin: auto;
}

.dropZone > div {
    text-align: center;
}


img {
    width: 100%;
    height: 100%;
}