.comingSoon {
    composes: h1 from '../../App.css';
    padding-top: 30px;
    text-align: center;

}

.center {
    height: 500px;
}

.buttonContainer {
    float: right;
}

.dropZone {
  height: 450px;
  width: 450px;
  float: left;
  background-color: var(--orange);
  cursor: pointer;
  border: 2px solid black;
  margin-bottom: 25px;
}
.dropZone {
  margin: auto;
}

.dropZoneContent{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropZoneImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pageContainer {
  padding-top:25px;
  display: flex;
  justify-content: space-evenly;
}

.inputField {
  composes: inputBox from '../BookWizardPage.module.css';
  width: 600px;
}

.inputField:focus {
  border-color: var(--orange);
  outline: none;
}

.headerText {
  composes: h2 from '../../App.css';
  padding-top: 20px;
}
.videoText {
  composes: inputBoxTitle from '../BookWizardPage.module.css';
  padding-top:25px;
}
.editorText {
  composes: inputBoxTitle from '../BookWizardPage.module.css';
  padding-top:40px;
}

.uploadButton {
    height: 78px;
    width: 366px;
    background-color: var(--orange);
    border-width: 2px;
    margin-bottom: 50px;
    box-shadow: 1px 1px;
    cursor: pointer;
    border: 0.5px solid var(--black);
    border-radius: 7px;
    box-shadow: 1px 2px 5px var(--dark-grey);
}

.uploadButtonText {
    composes: body1 from '../../App.css';
}

.modal {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    overflow: auto; /* Enable scroll if needed */
    backdrop-filter: blur(5px) brightness(68%);
}

.modalContent {
    width: 40%; /* Could be more or less, depending on screen size */
    margin: 15% auto; /* 15% from the top and centered */
    padding: 40px 109px;
    border: 1px solid var(--black);
    border-radius: 12px;
    background-color: var(--white);
}


.modalTitle {
    composes: h3 from '../../App.css';
    margin-bottom: 40px;
}

/* checkbox container and label */
.checkboxContainer {
  composes: body1 from '../../App.css';
  display: block;
  position: relative;
  display: block;
  padding: 10px 0px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* hide default checkbox */
.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* custom checkbox with orange check */
.checkmark {
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  float: right;
  border: 1px solid var(--black);
  border-radius: 3px;
}

/* hover effect */
.checkboxContainer:hover input ~ .checkmark {
  background-color: var(--light-grey);
}

/* checkmark – hidden when unchecked */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* show checkmark when checked */
.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

/* styles for checkmark */
.checkboxContainer .checkmark:after {
  left: 13px;
  top: -1px;
  width: 12px;
  height: 30px;
  border: solid var(--orange);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.buttonContainer {
  text-align: center;
}
  
.inputElementContainer {
  float: left;
  margin-left: 80px;
}

.inputBox {
   composes: inputBox from '../BookWizardPage.module.css';
   width: 500px;
}

.inputElement {
   margin-top: 30px;
}