.comingSoon {
    composes: h1 from '../../App.css';
    padding-top: 30px;
    text-align: center;

}

.center {
    height: 500px;
}

.buttonContainer {
    float: right;
}

.uploadButton {
    height: 78px;
    width: 366px;
    background-color: var(--orange);
    border-width: 2px;
    margin-bottom: 50px;
    box-shadow: 1px 1px;
    cursor: pointer;
    border: 0.5px solid var(--black);
    border-radius: 7px;
    box-shadow: 1px 2px 5px var(--dark-grey);
}

.uploadButtonText {
    composes: body1 from '../../App.css';
}

.modal {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    overflow: auto; /* Enable scroll if needed */
    backdrop-filter: blur(5px) brightness(68%);
}

.modalContent {
    width: 40%; /* Could be more or less, depending on screen size */
    margin: 15% auto; /* 15% from the top and centered */
    padding: 40px 109px;
    border: 1px solid var(--black);
    border-radius: 12px;
    background-color: var(--white);
}


.modalTitle {
    composes: h3 from '../../App.css';
    margin-bottom: 40px;
}

/* checkbox container and label */
.checkboxContainer {
  composes: body1 from '../../App.css';
  display: block;
  position: relative;
  display: block;
  padding: 10px 0px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* hide default checkbox */
.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* custom checkbox with orange check */
.checkmark {
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  float: right;
  border: 1px solid var(--black);
  border-radius: 3px;
}

/* hover effect */
.checkboxContainer:hover input ~ .checkmark {
  background-color: var(--light-grey);
}

/* checkmark – hidden when unchecked */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* show checkmark when checked */
.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

/* styles for checkmark */
.checkboxContainer .checkmark:after {
  left: 13px;
  top: -1px;
  width: 12px;
  height: 30px;
  border: solid var(--orange);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.buttonContainer {
  text-align: center;
}

.pageContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
}

.tabContainer {
  width: 30%;
  height: 500px;
  overflow-y: scroll;
  border: 1px solid var(--dark-grey);
  margin-left: 20px;
  margin-right: 20px;
}

.imageContainer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: -1px -1px 16px 4px var(--light-grey);
}

.coverImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bookTitle {
  text-align: center;
  font-family: 'GothamRounded - Bold';
  font-size: 20px;
  margin-bottom: 6px;
}

.bookAuthor {
  text-align: center;
  font-family: 'GothamRounded - Light';
  font-size: 12px;
  margin-bottom: 25px;
}

.buttonGroup {
  display: flex;
  justify-content: space-evenly;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.tabButtonActive {
  width: 50px;
  height: 16px;
  background-color: var(--orange);
  border-radius: 5px;
  border-style: solid;
  border-color: var(--orange);
  border: 1px solid var(--orange);
  padding-top: 3px;
  box-shadow: 2px 2px 8px var(--light-grey);
}

.tabButtonInactive {
  width: 50px;
  height: 16px;
  border-radius: 5px;
  border-style: solid;
  border-color: var(--orange);
  border: 1px solid var(--orange);
  padding-top: 3px;
  box-shadow: 2px 2px 8px var(--light-grey);
}

.buttonActive {
  text-align: center;
  font-size: 11px;
  font-family: 'GothamRounded - Bold';
  color: var(--white);
}

.buttonInactive {
  text-align: center;
  font-size: 11px;
  font-family: 'GothamRounded - Bold';
  color: var(--orange);
}

.videoContainer {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

.markdownText {
  font-size: 9px;
  font-family: 'GothamRounded - Light';
  margin-left: 10px;
  margin-right: 10px;
  overflow-wrap: break-word;
}

.mdImgContainer {
  position: relative;
  width: 90%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.mdImgContainer:after {
  display: block;
  padding-bottom: 100%;
  content:"";
}

.mdImage {
  width: 100%;
  height: 100%;
  position:absolute;
  object-fit: cover;
}