.titleBar {
  margin-top: 20px;
}

.chatWindowContainer {
  width: 100%;
  display: flex;
}

.sideBar {
  width: 20%;
}

.chatWindow {
  width: 80%;
}

.mainChatBubble {
  border-radius: 12px;
  padding: 18px;
  width: 35%;
  margin: 10px 0;
}

.rightChatBubble {
  background-color: var(--orange);
  margin-left: auto;
}

.leftChatBubble {
  background-color: var(--light-grey);
}
