.titleBar {
    margin-top: 20px;
}

.chatWindowContainer {
    width: 100%;
    display: flex;
}

.sideBar {
    width: 20%;
}

.chatWindow {
    width: 80%;
}

.sideBarElement {
    border: 1px grey;
}