p {
    margin: 0px;
}

.title {
    text-align: left;
    margin-top: 94px;
}

.row {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.clickableText {
    text-decoration: underline;
    border: none;
    outline: none;
    background-color: var(--white);
    cursor: pointer;
}

.admins {
    width: 100%;
    margin-top: 58px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    row-gap: 36px;
    column-gap: 131px;
}