.upload {
  padding: 20px;
}

.search {
  height: 40px;
  width: 250px;
  margin: auto;
  padding-left: 5px;
  border: 1px solid #B8B8B8;
  border-radius: 5px;
  font-size: 15px;
}

.clickable {
  text-decoration: underline;
  font-size: 12px;
  border: none;
  outline: none;
  background-color: #FFFFFF;
  cursor: pointer;
}

.title {
  text-align: left;
  font-size: 60px;
  margin-right: 40px;
}

p {
  font-size: 12px;
  margin: 0px;
}

.row {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.books {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}

.books::after {
  width: 100%;
  content: "";
  justify-content: space-between;
  align-content: space-between;
  flex: auto;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
  backdrop-filter: blur(3px);
}

.modalContent {
  background-color: #fefefe;
  padding: 10px 5%;
  margin: 15% auto; /* 15% from the top and centered */
  border: 1px solid #666;
  border-radius: 12px;
  width: 30%; /* Could be more or less, depending on screen size */
}

.cancelBtn {
  background-color: white;
  border: 0.5px solid #e89228;
  border-radius: 7px;
  padding: 10px 10px;
  width: 120px;
  margin: 0px 5px;
  box-shadow: 1px 2px 5px #b8b8b8;
  cursor: pointer;
}

.deleteBtn {
  background-color: #e89228;
  border: 0.5px solid #666;
  border-radius: 7px;
  padding: 10px 10px;
  width: 120px;
  margin: 0px 5px;
  box-shadow: 1px 2px 5px #b8b8b8;
  cursor: pointer;
}


.buttons {
  text-align: center;
  margin: 10px;
  margin-top: 20px;
}

.checkbox {
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: relative;
  float: right;
}

.checkLabel {
  display: block;
  padding: 10px 0px;
}