p {
  margin: 0px;
}

.title {
  text-align: left;
  margin-right: 40px;
}

.clickableText {
  text-decoration: underline;
  border: none;
  outline: none;
  background-color: var(--white);
  cursor: pointer;
}

.row {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.books {
  width: 100%;
  margin-top: 56px;
  margin-bottom: 139px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 62px;
}

.searchContainer {
  display: flex;
  margin-top: 90px;
  margin-bottom: 9px;
}

.search {
  height: 70px;
  width: 500px;
  padding-left: 20px;
  border: 1px solid var(--orange);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.searchButton {
  height: 70px;
  width: 140px;
  background-color: var(--orange);
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

input[type=search] {
  font-size: 28px;
  font-family: 'GothamRounded - Light';
  -webkit-appearance: none;
}

.modal {
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  overflow: auto; /* Enable scroll if needed */
  backdrop-filter: blur(5px) brightness(68%);
}

.modalContent {
  width: 40%; /* Could be more or less, depending on screen size */
  margin: 15% auto; /* 15% from the top and centered */
  padding: 40px 109px;
  border: 1px solid var(--black);
  border-radius: 12px;
  background-color: var(--white);
}

.modalTitle {
  margin-bottom: 40px;
}

.searchIcon {
  width: 40px;
  height: 40px;
}

.addIcon {
  width: 42px;
  height: 42px;
}

.newButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 220px;
  height: 70px;
  margin-left: 143px;
  padding: 10px 10px;
  border: 0.5px solid var(--black);
  border-radius: 7px;
  box-shadow: 1px 2px 5px var(--dark-grey);
  background-color: var(--orange);
  cursor: pointer;
}

.cancelBtn {
  width: 200px;
  margin: 0px 17px;
  padding: 10px 10px;
  border: 0.5px solid var(--orange);
  border-radius: 7px;
  box-shadow: 1px 2px 5px var(--dark-grey);
  background-color: var(--white);
  cursor: pointer;
}

.deleteBtn {
  width: 200px;
  margin: 0px 17px;
  padding: 10px 10px;
  border: 0.5px solid var(--black);
  border-radius: 7px;
  box-shadow: 1px 2px 5px var(--dark-grey);
  background-color: var(--orange);
  cursor: pointer;
}

.buttonsContainer {
  text-align: center;
  margin: 10px;
  margin-top: 40px;
}

/* checkbox container and label */
.checkboxContainer {
  display: block;
  position: relative;
  display: block;
  padding: 10px 0px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* hide default checkbox */
.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* custom checkbox with orange check */
.checkmark {
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  float: right;
  border: 1px solid var(--black);
  border-radius: 3px;
}

/* hover effect */
.checkboxContainer:hover input ~ .checkmark {
  background-color: var(--light-grey);
}

/* checkmark – hidden when unchecked */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* show checkmark when checked */
.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

/* styles for checkmark */
.checkboxContainer .checkmark:after {
  left: 13px;
  top: -1px;
  width: 12px;
  height: 30px;
  border: solid var(--orange);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}