.container {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 80px;
}

.adminName {
    composes: body3 from '../App.css';
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.primaryAdminName {
    composes: caption1 from '../App.css';
    white-space: nowrap;
}

.adminCard {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid var(--dark-grey);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px 0 16px;
    text-overflow: ellipsis;
}

.deleteIcon {
    width: 26px;
    height: 26px;
    margin-left: 32px;
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: 100%;
}

.lockIcon {
    width: 31px;
    height: 36px;
    margin-left: 29px;
    position: absolute;
    top: 40%;
    left: 100%;
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    backdrop-filter: blur(5px) brightness(68%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContentManage {
    padding: 60px 30px 60px 30px;
    width: 80%;
    height: 80%;
    border: 1px solid var(--black);
    border-radius: 12px;
    background-color: var(--white);
    text-align: center;
}

.modalTitleManage {
    composes: h2 from '../App.css';
    margin-bottom: 39px;
}

.modalTextManage {
    composes: body3 from '../App.css';
    margin-bottom: 100px;
}

.modalContentDelete {
    width: 40%;
    padding: 40px 109px;
    border: 1px solid var(--black);
    border-radius: 12px;
    background-color: var(--white);
}

.modalTitleDelete {
    composes: h3 from '../App.css'; 
    margin-bottom: 40px;
}

.buttonsContainer {
    align-items: center;
    text-align: center;
    margin: 10px;
    margin-top: 40px;
}

.cancelButton {
    composes: body3 from '../App.css';
    width: 200px;
    margin: 0px 17px;
    padding: 10px 10px;
    border: 0.5px solid var(--orange);
    border-radius: 7px;
    box-shadow: 1px 2px 5px var(--dark-grey);
    background-color: var(--white);
    cursor: pointer;
}

.deleteConfirmButton {
    composes: body3 from '../App.css';
    width: 200px;
    margin: 0px 17px;
    padding: 10px 10px;
    border: 0.5px solid var(--black);
    border-radius: 7px;
    box-shadow: 1px 2px 5px var(--dark-grey);
    background-color: var(--orange);
    cursor: pointer;
}