/* hide default checkbox */
.input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* custom checkbox with orange check */
.checkmark {
  display: inline-block;
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
  float: right;
  border: 1px solid var(--black);
  border-radius: 3px;
}

/* hover effect */
.input:hover ~ .checkmark {
  background-color: var(--light-grey);
}

/* checkmark – hidden when unchecked */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* show checkmark when checked */
.input:checked ~ .checkmark:after {
  display: block;
}

/* styles for checkmark */
.checkmark:after {
  left: 8px;
  top: -1px;
  width: 12px;
  height: 20px;
  border: solid var(--orange);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(38deg);
  -ms-transform: rotate(38deg);
  transform: rotate(38deg);
}
