.navbar_list{
  list-style-type: none ;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav_element_left {
  float: left;
}

.nav_element_right{
  float: right;
}


.nav_logo {
  display: block;
  text-align: center;
  width: 85px;
  height: 60px;
  padding-right: 25px;
}

.nav_link {
  display: block;
  text-align: center;
  padding: 14px 16px;
  color: gray;
  text-decoration: none;
}

.nav_button {
  display: block;
  background-color: transparent;
  border: none;
  padding: 14px 16px;
  cursor: pointer;
}

.nav_button:focus {
  outline: none;
}

.nav_button span {
  color: gray
}

.active {
  text-decoration: underline;
}

