.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
}

.navigationButton {
    background-color: white;
    outline: transparent;
    border: none;
    cursor: pointer;
}

.navigationButtonIcon {
    height: 37px;
    width: 30px;
}

.navigationButtonRight {
    composes: navigationButtonIcon;
}

.navigationButtonRightDisabled {
    composes: navigationButtonIcon;
    filter: invert(60%) sepia(7%) saturate(73%) hue-rotate(326deg) brightness(98%) contrast(96%);
}

.navigationButtonLeft {
    composes: navigationButtonIcon;
    transform: rotate(180deg);
}

.pageName {
    composes: h1 from '../App.css';
    text-align: center;
    width: 415px;
}

.blankDiv {
    height: 60px;
    width: 60px;
}

.progressCircles {
    height: 22px;
    width: 37px;
}
.progressBar {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    width: 100%;
    align-items: center;
}

.progressBarContainer {
    margin: auto;
    width: 50%;
}

.skewer {
    flex-grow: 1;
    border-bottom: 1px solid black;
    margin: 5px;
    align-content: center;
  }