ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  color: gray;
  text-decoration: none;
}

li button {
  display: block;
  background-color: transparent;
  border: none;
  padding: 14px 16px;
  cursor: pointer;
}

li button:focus {
  outline: none;
}

li button span {
  color: gray
}

img {
  display: block;
  text-align: center;
  width: 85px;
  height: 60px;
  padding-right: 25px;
}

.active {
  text-decoration: underline;
}

.sign_out {
  float: right;
}